.main {
  padding: 10px 40px;
}

.main_container {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.main_description p,
.main_description span {
  margin-bottom: 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 55px;
}

.main_description_color {
  color: #fe5b46;
}

.main_description_detail {
  font-family: 'Poppins';
  margin-bottom: 40px;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 12px;
}

.main_image img {
  width: 300px;
  height: auto;
}

.contact_me {
  text-decoration: none;
}

.contact_me div {
  display: block;
  border: 1px solid #fe5b46;
  width: 140px;
  padding: 10px 20px;
  font-weight: 300;
  color: #fe5b46;
  transition: all 400ms ease-out;
}

.contact_me div:hover {
  cursor: pointer;
  background: #fe5b46;
  color: #fff;
}

.main_social {
  text-align: center;
}

.main_social span {
  margin: 0 10px;
  font-size: 25px;
  transition: all 300ms ease-out;
}

.main_social span:hover {
  cursor: pointer;
  opacity: 0.3;
}

@media only screen and (max-width: 815px) {
  .main_description p {
    font-size: 45px;
  }
}
