@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins";
  font-weight: 500;
  color: #fff;
}

body {
  background: #1a1919;
}

.container {
  background: #1e1e1e;
  max-width: 920px;
  margin: auto;
}

.header_main {
  height: 100vh;
  position: relative;
}

.wave_main img {
  position: absolute;
  bottom: 0;
  width: 100%;
}
